.App {
  text-align: center;
}



.wrapper {
  width: 1000px;
  max-width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item-wrappers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}